@tailwind base;
@tailwind components;
@tailwind utilities;
@keyframes shimmer {
  0% { background-position: -100% -100%; }
  100% { background-position: 100% 100%; }
}
@layer base {
  html {
    scroll-behavior: smooth;
  }

  body {
    @apply bg-primary text-textPrimary;
  }
}

@layer components {
  .nav-link {
    @apply cursor-pointer hover:text-secondary transition-colors duration-300;
  }

  .btn {
    @apply px-6 py-3 border border-secondary text-secondary rounded hover:bg-secondary/10 transition-all duration-300;
  }

  .section-title {
    @apply text-3xl md:text-4xl font-bold mb-8 text-textPrimary;
  }

  .project-card {
    @apply bg-tertiary p-6 rounded-lg hover:transform hover:-translate-y-2 transition-all duration-300;
  }
}
