@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
  scroll-padding-top: 4rem;
}

@layer base {
  html {
    scroll-behavior: smooth;
  }

  body {
    @apply bg-primary text-textPrimary;
  }
}

@custom-variant dark (&:where(.dark, .dark *));

/* Then optionally define theme tokens or variables */

/* Override for dark theme */
@layer theme {
  .dark {
    --color-bg: #111111;
    --color-text: #eeeeee;
  }
}
